@model KnockoutJsMVC.Edmx.Employee
@{
    ViewBag.Title = "Create";
}
<div class="form-horizontal">
    <h4>Employee</h4>
    <hr>
    <div class="form-group">
        <label class="control-label col-md-2" for="Name">Name</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" data-bind="value: Name">
            @*<input type="hidden" data-bind="value:Id" />*@
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="PhoneNo">PhoneNo</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="PhoneNo" name="PhoneNo" type="text" value="" data-bind="value: PhoneNo">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Email">Email</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Email" name="Email" type="text" value="" data-bind="value: Email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" data-bind="click: createEmployee" value="Create" class="btn btn-default">
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Read")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/employee/KOCreate.js"></script>